# =========================
# Python cache
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual environments
# =========================
.venv/
venv/
env/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Build / packaging
# =========================
build/
dist/
*.egg-info/

# =========================
# VS Code
# =========================
.vscode/*
!.vscode/settings.json

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Models (binary artifacts)
# =========================
models/*.pkl

# =========================
# Logs
# =========================
*.log
